In [1]:
import pandas as pd
import numpy
import datetime
import random

In [2]:
Food_Types = {
    #Food type: [Price, weight]
    'Grilled Chicken': [2500, 15],
    'Kebab': [1800, 8],
    'Pasta': [800, 16],
    'Pizza': [5000, 31],
    'pasta with shrimps': [2300, 12],
    'Chicken Salad': [2500, 18],
    'Ginger Taco': [500, 8],
    'Pancake': [400, 10],
    'Grilled Meat': [1800, 14],
    'Fried Chicken': [2700, 35],
    'Burger large': [3000, 19],
    'Vegetable Salad': [1500, 37],
    'Jollof Rice': [2500, 39]
}

In [34]:
Vendors = {
        'Mc Donald',
        'Dominos', 
        'Pizza Hut', 
        'Asun Only', 
        'Chef’s Palace', 
        'Grills’N’Steak',
        'Jevinik Restaurant', 
        'Cilantro',
        'Ocean Basket',
        'Kokodome', 
        'Mr biggs',
        'chicken Republic' 
              }

In [27]:
columns = ['Order_ID', 'Food_Type', 'Vendors','Food_Price', 'Food_Description', 'Ratings']
df = pd.DataFrame(columns=columns)

In [39]:
for i in range(1000):
        Vendors = random.choices(Vendors)

In [40]:
order_id = 13323

for i in range(1000):
    foodlist = [Food_Type for Food_Type in Food_Types]
    weights = [Food_Types[Food_Type][1] for Food_Type in Food_Types]
      
    product = random.choices(foodlist, weights=weights)[0]
    price = Food_Types[product][0]
    df.loc[i] = [order_id, product, Vendors, price, "NA", "NA"]
    order_id += 1
df.head()
df.to_csv('mealplan_data.csv')

C:\Users\KNCV\anaconda3\lib\site-packages\numpy\core\fromnumeric.py:3162: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  return asarray(a).ndim

In [41]:
df.head()

,Order_ID,Food_Type,Vendors,Food_Price,Food_Description,Ratings
0,13323,Pizza,[Ocean Basket],5000,NA,NA
1,13324,Pasta,[Ocean Basket],800,NA,NA
2,13325,Fried Chicken,[Ocean Basket],2700,NA,NA
3,13326,Grilled Meat,[Ocean Basket],1800,NA,NA
4,13327,Grilled Chicken,[Ocean Basket],2500,NA,NA

In [ ]:
print(Food_Types)
print(weights)

In [42]:
df.describe()

           Order_ID   Food_Price
count   1000.000000  1000.000000
mean   13822.500000  2445.400000
std      288.819436  1196.884026
min    13323.000000   400.000000
25%    13572.750000  1500.000000
50%    13822.500000  2500.000000
75%    14072.250000  2700.000000
max    14322.000000  5000.000000