<a href="https://colab.research.google.com/github/graciousgift/Assignment-file/blob/main/SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**WELCOME TO SEQUELITE!**

In [ ]:
#import neccessary modules
import pandas as pd 
import sqlite3

In [ ]:
#connect to a db
cursor = sqlite3.connect('testing.db')  
print("Opened database successfully");

Opened database successfully

In [ ]:
cursor.execute('CREATE TABLE students (first_name TEXT, last_name TEXT, age TEXT, email TEXT, course TEXT, unit TEXT)')
print("Table created successfully");

Table created successfully

In [ ]:
first_name = "Seun"
last_name = "Kuti"
age = 35
email = "seun_kuti@yahoo.com"
course = "Music"
unit = 10

In [ ]:
admin = "INSERT into students(first_name,last_name,age,email,course,unit) values('{}', '{}', '{}', '{}', '{}', '{}')".format(first_name,last_name,age,email,course,unit)
cursor.execute(admin)
cursor.commit()

In [ ]:
stutern = cursor.execute("SELECT * FROM students")

In [ ]:
print(stutern)

In [ ]:
for row in stutern:
  print(row)

('Seun', 'Kuti', '35', 'seun_kuti@yahoo.com', 'Music', '10')